<div class="container  ">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Yeni Tarif +</button>
    <h1>B'Cake Tarifler</h1>
</div>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">Linzer Kurabiye</div>
                <div class="card-body">
                    burada tarif detayları var
                </div>
            </div>
            <div class="card">
                <div class="card-header">Linzer Kurabiye</div>
                <div class="card-body">
                    burada tarif detayları var
                </div>
            </div>
            <div class="card">
                <div class="card-header">Linzer Kurabiye</div>
                <div class="card-body">
                    burada tarif detayları var
                </div>
            </div>
        </div>
    


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Tarif Ekle</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  buraya detaylar gelecek
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                  <button type="button" class="btn btn-primary">Ekle</button>
                </div>
              </div>
            </div>
          </div>
</div>

